@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url('/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #138caa00; /* Background of the scrollbar track */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #05050554; /* Scrollbar thumb color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Thumb color on hover */
  }